current_design_plan_29.1.2024.pdf
notes.txt
prof_record.py
prof_record_breakdown_table.txt
ruff.py
fighters.txt
__pycache__/
main_table.txt
class_prac.py
fighters.sqlite
backup_notes.txt
fighters.sqlite
fighters_demo.sqlite
testingServer
data
notes
out.txt
out2.txt
backend/.vscode
backend/altTables.py
summaryStats.csv
summaryStats.py
summaryStats.png
.vscode
performance_analysis
