html {
  font-size: 1.5rem;
  font-family: "Press Start 2P", system-ui;
}

h1 {
  font-size: 150%;
  text-align: center;
}

p,
li {
  font-size: 100%;
  line-height: 2;
  letter-spacing: 1px;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #ee7f52;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}

h2 {
  font-size: 130%;
  color: #d152ee;
}



html {
  background-color: #eaed95;
}

body {
  width: 1500px;
  margin: 0 auto;
  background-color: #70de9a;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

/* img {
  display: block;
  margin: 0 auto;
} */
img {
  /* border: 1px solid #ddd;
    border-radius: 4px; */
  padding: 5px;
  width: 700px;
  height: 500px;
}

.hyperlink {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 100%;
  /* Makes it behave like a link */
}

.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-size: 70%;
}

.column {
  width: 48%;
  /* Adjust width as needed */
  padding: 20px;
  background-color: #70de9a;
}

input {
  font-family: "Press Start 2P", system-ui;
}

button {
  font-family: "Press Start 2P", system-ui;
  font-size: 80%;
}